<template>
  <div class="testground-content__item">
    <p class="testground-content-title"><%= componentName %></p>
    <div class="testground-flex">
      <<%= componentName %>></<%= componentName %>>
    </div>
  </div>
</template>
