$main-font: var(--main-font, 'Quicksand') !default;
$header-height: var(--header-height, 64px) !default;
$footer-height: var(--footer-height, 64px) !default;
$anim-duration: var(--anim-duration, 200ms) !default;
