:root {
  --primary: rgba(15, 111, 239, 0.9);
  --primary-full: rgba(15, 111, 239);
  --primary-85: rgba(15, 111, 239, 0.85);
  --primary-80: rgba(15, 111, 239, 0.8);
  --primary-75: rgba(15, 111, 239, 0.75);
  --primary-70: rgba(15, 111, 239, 0.7);
  --secondary: rgba(17, 205, 239, 0.9);
  --bg: #fafafa;
  --bg-alter: #fdfdfd;
  --bg-darker: #eaeaea;
  --readonly: #f4f4f4;
  --disabled: #e3e3e3;
  --btn: #fff;
  --text: #323438;
  --text-secondary: #999;
  --text-disabled: #bcbcbc;
  --text-80: rgba(32, 34, 36, 0.8);
  --text-70: rgba(32, 34, 36, 0.7);
  --text-secondary-80: rgba(153, 153, 153, 0.8);
  --text-secondary-70: rgba(153, 153, 153, 0.7);
  --placeholder: #aeaeae;
  --border: #cecece;
  --line: #efefef;
  --scroll-bar: #ccc;
  --mask: rgba(0, 0, 0, 0.8);
  --shadow-5: rgba(0, 0, 0, 0.05);
  --shadow-10: rgba(0, 0, 0, 0.1);
  --shadow-20: rgba(0, 0, 0, 0.2);
  --shadow-25: rgba(0, 0, 0, 0.3);
  --shadow-40: rgba(0, 0, 0, 0.4);
  --shadow-w-10: rgba(255, 255, 255, 0.1);
  --shadow-w-20: rgba(255, 255, 255, 0.2);
  --font-normal: Quicksand, -apple-system, BlinkMacSystemFont, 'Microsoft Yahei UI',
    'Microsoft Yahei', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
