$primary: rgba(15, 111, 239);
$secondary: rgba(17, 205, 239);
$text: #323438;
$text-secondary: rgba(153, 153, 153);
$shadow: #000;
$shadow-w: #fff;
$main-font: Quicksand;

:root {
  --primary: #{rgba($primary, 0.9)};
  --primary-full: #{$primary};
  --primary-85: #{rgba($primary, 0.85)};
  --primary-80: #{rgba($primary, 0.8)};
  --primary-75: #{rgba($primary, 0.75)};
  --primary-70: #{rgba($primary, 0.7)};
  --secondary: #{rgba($secondary, 0.9)};
  --bg: #fafafa;
  --bg-alter: #fdfdfd;
  --bg-darker: #eaeaea;
  --readonly: #f4f4f4;
  --disabled: #e3e3e3;
  --btn: #fff;
  --text: #{$text};
  --text-secondary: #999;
  --text-disabled: #bcbcbc;
  --text-80: #{rgba($text, 0.8)};
  --text-70: #{rgba($text, 0.7)};
  --text-secondary-80: #{rgba($text-secondary, 0.8)};
  --text-secondary-70: #{rgba($text-secondary, 0.7)};
  --placeholder: #aeaeae;
  --border: #cecece;
  --line: #efefef;
  --scroll-bar: #ccc;
  --mask: rgba(0, 0, 0, 0.8);
  --shadow-5: #{rgba($shadow, 0.05)};
  --shadow-10: #{rgba($shadow, 0.1)};
  --shadow-20: #{rgba($shadow, 0.2)};
  --shadow-25: #{rgba($shadow, 0.3)};
  --shadow-40: #{rgba($shadow, 0.4)};
  --shadow-w-10: #{rgba($shadow-w, 0.1)};
  --shadow-w-20: #{rgba($shadow-w, 0.2)};
  --font-normal: #{$main-font}, -apple-system, BlinkMacSystemFont, 'Microsoft Yahei UI',
    'Microsoft Yahei', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
