:root {
  --primary: #{rgba($primary, 0.9)};
  --primary-full: #{$primary};
  --primary-85: #{rgba($primary, 0.85)};
  --primary-80: #{rgba($primary, 0.8)};
  --primary-75: #{rgba($primary, 0.75)};
  --primary-70: #{rgba($primary, 0.7)};
  --primary-60: #{rgba($primary, 0.6)};
  --primary-40: #{rgba($primary, 0.4)};
  --primary-30: #{rgba($primary, 0.3)};
  --primary-20: #{rgba($primary, 0.2)};
  --primary-12: #{rgba($primary, 0.12)};
  --primary-10: #{rgba($primary, 0.1)};
  --primary-8: #{rgba($primary, 0.08)};
  --primary-6: #{rgba($primary, 0.06)};
  --primary-4: #{rgba($primary, 0.04)};
  --secondary: #{$secondary};
  --secondary-90: #{rgba($secondary, 0.9)};
  --secondary-80: #{rgba($secondary, 0.8)};
  --secondary-70: #{rgba($secondary, 0.7)};
  --secondary-60: #{rgba($secondary, 0.6)};
  --secondary-40: #{rgba($secondary, 0.4)};
  --secondary-30: #{rgba($secondary, 0.3)};
  --secondary-20: #{rgba($secondary, 0.2)};
  --success: #{$success};
  --success-80: #{rgba($success, 0.8)};
  --success-60: #{rgba($success, 0.6)};
  --warn: #{$warn};
  --warn-80: #{rgba($warn, 0.8)};
  --warn-60: #{rgba($warn, 0.6)};
  --warning: #{$warn};
  --warning-80: #{rgba($warn, 0.8)};
  --warning-60: #{rgba($warn, 0.6)};
  --danger: #{$danger};
  --danger-80: #{rgba($danger, 0.8)};
  --danger-60: #{rgba($danger, 0.6)};
  --error: #{$danger};
  --error-80: #{rgba($danger, 0.8)};
  --error-60: #{rgba($danger, 0.6)};
  --info: #{$info};
  --info-80: #{rgba($info, 0.8)};
  --info-60: #{rgba($info, 0.6)};
  --bg: #fafafa;
  --bg-alter: #fdfdfd;
  --bg-semidark: #f3f4f6;
  --bg-darker: #eaeaea;
  --readonly: #f4f4f4;
  --disabled: #e3e3e3;
  --btn: #fff;
  --text: #{$text};
  --text-secondary: #909293;
  --text-disabled: #bcbdbf;
  --text-white: #fafbfd;
  --text-80: #{rgba($text, 0.8)};
  --text-70: #{rgba($text, 0.7)};
  --text-secondary-80: #{rgba($text-secondary, 0.8)};
  --text-secondary-70: #{rgba($text-secondary, 0.7)};
  --placeholder: #aeaeae;
  --border: #cecdd0;
  --border-lighter: #d6d8da;
  --line: #eff2f3;
  --scroll-bar: #c0c2c3;
  --mask: rgba(0, 0, 0, 0.8);
  --shadow-2: #{rgba($shadow, 0.02)};
  --shadow-4: #{rgba($shadow, 0.04)};
  --shadow-5: #{rgba($shadow, 0.05)};
  --shadow-6: #{rgba($shadow, 0.06)};
  --shadow-8: #{rgba($shadow, 0.08)};
  --shadow-10: #{rgba($shadow, 0.1)};
  --shadow-20: #{rgba($shadow, 0.2)};
  --shadow-25: #{rgba($shadow, 0.25)};
  --shadow-30: #{rgba($shadow, 0.3)};
  --shadow-40: #{rgba($shadow, 0.4)};
  --shadow-w-10: #{rgba($shadow-w, 0.1)};
  --shadow-w-20: #{rgba($shadow-w, 0.2)};
  --shadow-w-24: #{rgba($shadow-w, 0.24)};
  --a-header-height: #{$header-height};
  --a-footer-height: #{$footer-height};
  --font-normal: #{$main-font}, -apple-system, BlinkMacSystemFont, 'Microsoft Yahei UI',
    'Microsoft Yahei', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --anim-duration: #{$anim-duration};
}
