// colors
$primary: rgba(15, 111, 239);
$secondary: rgba(17, 205, 239);
$text: #323438;
$text-secondary: #909293;
$text-disabled: #bcbdbf;
$text-placeholder: #aeaeae;
$icon-fill: #a6a8a9;
$scrollbar: #c0c2c3;
$success: rgb(96, 211, 50);
$warn: rgb(243, 189, 41);
$danger: rgb(231, 63, 51);
$info: rgb(47, 124, 224);
$shadow: #001220;
$shadow-w: #fff;
$main-font: Quicksand;
// num vars
$header-height: 64px;
$footer-height: 64px;
$anim-duration: var(--anim-duration, 200ms);
